@import url("fontawesome-all.min.css");


html, body {
  height: 100%;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

/* background */

#wrapper {
  margin: 0 auto;

  height: 100%;
  width: 100%;

  background-color: deepskyblue;
  position: relative;
  overflow: hidden;
}

/* Window that contains header box */

#infobox {
  width: 75%;
  height: 75%;

  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  transition: 1s ease-in-out;
}

@media screen and (max-device-width: 400px) {
  #infobox {
    transform: translateY(-10%);
  }
}

/* Header Box */

#header {
  width:  100%;
  margin: 0 auto;
  position: relative;

  text-align: center;
  font-size: 1.8em;

  color: white;

  display: flex;
  flex-flow: column;
  align-content: center;
}

    /* Title & Subtitle */

    #header h1 {
      margin: 0 auto;

      font-family: 'Bungee Shade', cursive;
      font-size: 5vw;
    }

    #header p {
      margin: 0 auto;

      font-family: 'Poiret One', cursive;
      font-size: 2vw;
    }

    /* Navigation Bar */

    #header ul {
      list-style-type: none;
      padding: 0;
    }

    #header li {
      display: inline-block;
      margin: 10px;
    }

    #header a {
      display: block;
      padding: 16px;
      border-radius: 100%;
      border-style: solid;
      border-color: whitesmoke;
      border-width: .5px;
      transition: 1s;
    }

    #header i {
      padding: 5px;
      color: white;
    }

    #header a:hover {
      font-size: 2.1em;
      background-color: rgba(211, 211, 211, 0.5);
    }

/* Media queries for Mobile */

@media screen and (max-device-width: 500px) {
  #header a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-device-width: 500px) {
  #header {
    font-size: 4vw;
    transform: translateY(-40%);
  }
}

/* Navigation Labels */

#bubblelabel {
  height: 25%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#bubblelabel h3 {
  margin: 0;
  font-family: 'Poiret One', cursive;
}

/* About */

#abouttab {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;

  background-color: green;

  display: none;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  transition: 1s ease-in-out;
}

#aboutbox {
  height: 80%;
  width: 60%;

  position: relative;
  background-color: white;

  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
  text-align: center;

  border-style: solid;
}

/* Media queries */

@media screen and (max-device-width: 425px) and (min-device-width: 320px) {
  #aboutbox {
    height: 40%;
    width: 50%;
  }
}

@media screen and (max-device-width: 650px) and (min-device-width: 500px){
  #aboutbox {
    height: 60%;
    width: 50%;
  }
}
    /* Exit Button */

    #exit {
      padding: 5px;
      display: inline-block;

      color: black; 
      
      position: absolute;
      right: 0;
    }

    #exit:hover {
      color:  red;
    }

    /* Text */

    #aboutbox h2 {
      font-family: 'Permanent Marker', cursive;
      margin-top: 10px;
    }

    #aboutfooter {
      position: absolute;
      bottom: 0;
      text-align: center;
      padding: 10px;
    }

    #illustration {
      width: 80%;
      height: 60%;
      margin: 0 auto;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      top: 25%;
      left: 10%;
      position: absolute;
    }

/* Projects */

#projectstab {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;

  background-color: blueviolet;

  display: none;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  transition: 1s ease-in-out;
}

#projectsbox {
  height: 80%;
  width: 60%;

  position: relative;
  background-color: white;

  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;

  border-style: solid;
  display: block;
  overflow: scroll;
}

#spacing {
  height: 5%;
}

    /* Work */

    .workbox {
      width: 90%;
      height: 20%;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;

      position: relative;
      display: flex;
      /* background-color: aqua;

      border-style: solid; */
    }

      /* #first{
        top: 5%;
      } */

    .workimage {
      width: 25%;
      margin: 5px;
      /* background-color: red; */

      /* border-style: solid; */
    }
      .workimage img {
          width: 100%; 
          height: 100%;
      }

    .workwords {
      width: 75%;
      margin: 5px;
      /* background-color: green; */
      
      /* border-style: solid; */
    }

      .workwords h2 {
        font-family: 'Permanent Marker', cursive;
        margin: 0;
      }

/* BG Floating */

.circles{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 30s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000%) rotate(720deg);
      opacity: 0;
      border-radius: 75%;
  }

}